services:
  db:
    image: postgres:15
    container_name: asset_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
  
  proxy:
    image: nginx:latest
    container_name: asset_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - web
    ports:
      - "80:80"
      - "8081:80"
      - "443:443"

  web:
    build: .
    container_name: asset_web
    depends_on:
      - db
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    restart: always
    environment:
      DATABASE_URL: postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    environment:
      - VAULT_ADDR=http://127.0.0.1:8200
      #- VAULT_API_ADDR=https://vault.emro.co.kr:8200
      - VAULT_API_ADDR=http://localhost:8200
    volumes:
      - ./vault/config:/vault/config
      - ./vault/file:/vault/file
      - ./vault/logs:/vault/logs
    command: vault server -config=/vault/config/vault.hcl

