apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: {{ .Values.web.image }}
          env:
            - name: DATABASE_URL
              value: postgresql+psycopg://{{ .Values.db.user }}:{{ .Values.db.password }}@db:5432/{{ .Values.db.name }}
          ports:
            - containerPort: {{ .Values.web.port }}
