apiVersion: v1
kind: Service
metadata:
  name: vault
spec:
  type: NodePort
  selector:
    app: vault
  ports:
    - port: {{ .Values.vault.port }}
      targetPort: {{ .Values.vault.port }}
      nodePort: 30820
